  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div ng-include="'dashboard.html'"></div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-9">
         <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Menu</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="pad">
                    <vv-table vconfig="menuConfig" vdata="menuData" vgrid="menuGrid"></vv-table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>         			  
		     </div>	

         <div class="col-md-3"> 
         <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Role</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="pad">
                    <vv-table vconfig="roleConfig" vdata="roleData" vgrid="roleGrid"></vv-table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 
          <div class="col-md-9">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Branches </h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <div class="pad">
                    <vv-table vconfig="entityConfig" vdata="entityData" vgrid="entityGrid"></vv-table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
          </div> 

          
        </section></div>
       
      </div>
     </section>    
  </div>
 

 