 <div style="align:right" class="vv_upsert">
	<button class="btn" type="button" value="Save" ng-click="vv_save()" tabindex="0">Add</button>
	<button class="btn" type="button" value="Edit" ng-click="vv_edit()" tabindex="0">Delete</button>	
</div>