.form-group {
    margin-bottom: 15px;
    margin-left: 24px;
    margin-top: 10px;
}
.ui-grid-cell-contents {
    padding: 2px!important;
}
body {
    font-size: 12px;
}
.ui-grid-top-panel {
   background: #ffffff; 
}
.ui-grid-cell{
    height: 25px!important;
}
.ui-grid-row{
    height: 25px!important;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    height: 22px;
    padding: 0px;
    margin: 4px;
}
.btn {
    padding: 0px 12px;
    margin: 2px;
}
.vv-grid {
    padding: 4px;
}
.vv_upsert{
    background-color: #222d32!important;
}
