.skin-red .main-header .navbar {
    background-color: #145A32;
}
.box.box-solid.box-warning {
    border: 1px solid #27AE60;
}
.box.box-solid.box-warning > .box-header {    
    background: #27AE60;
    background-color: #27AE60;
}
.skin-red .main-header .logo {
    background-color: #27AE60!important; 
}
.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
    background-color: #145A32;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {  
    background: #27AE60;
    border-left-color: #145A32;
}
.skin-red .sidebar-menu>li>.treeview-menu {   
    background: #7DCEA0;
}
.skin-red .treeview-menu>li>a {
    color: rgba(0,0,0,0.87);
}
.skin-red .sidebar-form {
    /* border-radius: 3px; */
    border: 1px solid #dfbf9f;
     margin: 10px 3px; 
}
.skin-red .sidebar-form input[type="text"], .skin-red .sidebar-form .btn {   
    background-color: #27AE60;   
}
.btn-warning {
    background-color: #145A32;
    border-color: #145A32;
    background-image: linear-gradient(to bottom,#145A32,#145A32);
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #27AE60;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {  
    background-color: #145A32!important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #dfbf9f !important;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #27AE60;
}.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #27AE60!important;
}
.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
    background: #27AE60;
    color:#000;
} 
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background: #7DCEA0;
   
} 
a {
    color: #dfbf9f;  
}
a:hover {
    color: brown;
  
}
.skin-red .main-header li.user-header {
    background-color: #27AE60;
    color:#000;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 15px;
    border-bottom: 1px solid #dfbf9f;
    border-top: 1px solid #dfbf9f;
    background-color: #dfbf9f;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #dfbf9f;
    padding: 10px;
}
