

.tasks .form-signin-heading, .tasks .checkbox {
    margin-bottom: 10px;
}

.tasks input[type="text"], .tasks input[type="password"], .tasks input[type="email"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.row {
    margin-right: -15px!important;  
}
@media (min-width: 1200px){
.row {
    margin-left: -13px!important;
}
}
div.loading {
  

   display: block;
   height: 100%;
   width: 100%;
   background: rgba(211,211,211, 0.72) url(/img/loading.gif) center center no-repeat;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: rgba(0, 164, 255, 0.38);
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: rgba(17, 134, 230, 0.49);
}
.ui-grid-header-cell {
    background-color: rgba(12, 62, 195, 0.86);
    color: rgb(250, 250, 250);
 }
.box-header { 
    padding: 6px!important; 
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 33px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
   # background-color: rgb(244,67,54);
}
.carousel-inner {
    height: 200px;
}



.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
 .filled {
      color: #9e0e0c;
    }
 

.readonly .star.filled {
    color: #666;
  }
.dd-menu-b {
 display: block;
}

.dd-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 17px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dd-menu {
    box-shadow: none;
    border-color: #eee;
}
#gmaps {
    width: 800px;
    height: 433px;
}

.navbar-nav > .user-menu > .dduser-menu {
    /* border-top-right-radius: 0; */
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.wrapperline{
width: 940px;
float: left;
height: 60px;
}

.boxinside{
width: 174px;
float: left;
height: 50px;
margin: 5px;
float:left;}

.ordertypebackground {  
    min-height: 585px; 
   width: 99%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/food_all.jpg);
    
 }

.ordertypetoppage {
    border-radius: 25px;
    padding: 15px; 
    height: 250px;
    
 }

.ordertypecolumn {
     margin: 0px 0px 0px 2%;
    float: left;
    min-height: 125px;
    position: relative;
    width: 55%;
}

 .ordertypeborder{
    
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0 0 10px rgba(76,51,39,.3);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.ordertypeborder_selected {
    border: 1px solid #ded7c5;
}

.container{    
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
}
.grayheader{
   background-color: #996633!important; 
}
.content-wrapper{
    min-height:80vh
}

.navbar .nav>li>a {
    top: 6px;
}

.navbar .nav>li>.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 238px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.oneline { 
display: inline-block; 

margin:1px;
}
.widget-user .widget-user-header {   
    height: auto!important;   
}
.orderdetail-popup{   
    top:-151px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content { 
    background: #fff;
}