.skin-red .main-header .navbar {
    background: #a91600;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
  
    border-radius: 4px 4px 0 0;
    border-bottom: 1px #921400 solid;
    background: -moz-linear-gradient(top center,#c51501,#9b1600);
    background: -webkit-gradient(linear,left top,left bottom,from(#c51501),to(#9b1600));
}
.box.box-solid.box-warning {
    border: 1px solid #c51501;
}
.box.box-solid.box-warning > .box-header {    
 background: #a91600;
    color: #FFF;
    
    border-bottom: 1px #921400 solid;
    background: -moz-linear-gradient(top center,#c51501,#9b1600);
    background: -webkit-gradient(linear,left top,left bottom,from(#c51501),to(#9b1600));
}
.skin-red .main-header .logo {
    background-color: #82b541!important; background: #82b541;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;  
    border-radius: 4px 4px 0 0;
    border-bottom: 1px #921400 solid;
    background: -moz-linear-gradient(top center,#c51501,#82b541);
    background: -webkit-gradient(linear,left top,left bottom,from(#c51501),to(#9b1600));
    background: #82b541;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
  
    border-radius: 4px 4px 0 0;
    border-bottom: 1px #921400 solid;
    background: -moz-linear-gradient(top center,#c51501,#82b541);
    background: -webkit-gradient(linear,left top,left bottom,from(#c51501),to(#9b1600));
}
.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
    font-size: 12px;
    border-radius: 0 0 8px 8px;
    border-top: 1px #e22b17 solid;
    background: #cb1602;
    background: -moz-linear-gradient(top center,#ce1602,#b61a01);
    background: -webkit-gradient(linear,left top,left bottom,from(#ce1602),to(#b61a01));
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {  
    #background: #ce741c;
    border-left-color: #262626;
    background: #801807;   
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
    color: #c6b6b3;
    overflow: hidden
}
.skin-red .sidebar-menu>li>.treeview-menu {   
    background: #262626;
}
.skin-red .treeview-menu>li>a {
    color: #fff;
}
.skin-red .sidebar-form {
    /* border-radius: 3px; */
    border: 1px solid #dfbf9f;
     margin: 10px 3px; 
}
.skin-red .sidebar-form input[type="text"], .skin-red .sidebar-form .btn {   
    font-size: 12px;
    border-radius: 0 0 8px 8px;
    border-top: 1px #e22b17 solid;
    background: #cb1602;
    background: -moz-linear-gradient(top center,#ce1602,#b61a01);
    background: -webkit-gradient(linear,left top,left bottom,from(#ce1602),to(#b61a01));   
}
.btn-warning {
    display: block;
    background: #c71702;
    background: -moz-linear-gradient(top center,#d31602,#b31903);
    background: -webkit-gradient(linear,left top,left bottom,from(#d31602),to(#b31903));
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #ce741c;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {  
    background-color: #922B21!important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
     background: #a91600;
   
    color: #FFF;
   
    border-radius: 4px 4px 0 0;
    border-bottom: 1px #921400 solid;
    background: -moz-linear-gradient(top center,#c51501,#9b1600);
    background: -webkit-gradient(linear,left top,left bottom,from(#c51501),to(#9b1600));
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #ce741c;
}.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #ce741c!important;
}
.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
     background: #262626;
    color:#fff;
} 
.control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus, .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background: #F1C40F;
   
} 
a {
    color: #ce1602;  
}
a:hover {
    color: #000;
  
}
.skin-red .main-header li.user-header {
    background-color: #fff;
    color:#000;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 15px;
    border-bottom: 1px solid #dfbf9f;
    border-top: 1px solid #dfbf9f;
    background-color: #dfbf9f;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #dfbf9f;
    padding: 10px;
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #ebcc96;
  z-index: 800;
}
.yellow-button {
    color: #9c1400;
    background: #dab470;
    background: -moz-linear-gradient(center top,#dfbf7f,#f6e3be);
    background: -webkit-gradient(linear,left top,left bottom,from(#dfbf7f),to(#f6e3be));
}
.yellow-s-button {
    color: #9c1400;
    background: #dab470;
    background: -moz-linear-gradient(center top,#dfbf7f,#f6e3be);
    background: -webkit-gradient(linear,left top,left bottom,from(#dfbf7f),to(#f6e3be));
}
.filled {
    color: #dab470!important;
}
.table th, .table td {
 border-top: 0px solid #ddd; 
}
