<nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav" >
         
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="user.iscolsed=!user.iscolsed">
              <img src="dist/img/avatar5.png" class="user-image" alt="User Image">
              <span class=" hidden-xs">{{user.name}}</span>
            </a>
            <ul class="dropdown-menu " ng-style={'display':user.iscolsed?'block':'none'}  style="top:52px">
             <li class="user-header " >
                <p>
               <div class="">
                  <form method="post" ng-controller="seachUserCtrl" ng-if="!(user.soreffriend || user.sofpassword ||user.soregister)">
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-8">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox"> Remember Me
                          </label>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Sign In</button>      
                      </div>
                    </div>
                  </form>

                   <form method="post"  ng-if="user.soregister">
                    <div class=" has-feedback">
                      <input type="text" class="form-control"  ng-model="user.name" placeholder="Name">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                     <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.repassword" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                     <div class=" has-feedback">
                      <input type="number" class="form-control"  ng-model="user.phonenumber" placeholder="Phone ">
                      <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-xs-4">
                        <button type="submit" ng-click="saveUser()" class="btn btn-warning  ">Sign In</button>      
                      </div>
                    </div>
                  </form>
                  
                  <form method="post" ng-controller="seachUserCtrl"ng-if="user.sofpassword">                    
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">                     
                      <!-- /.col -->
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Forgot Password</button>      
                      </div>
                    </div>
                  </form>

                   <form method="post" ng-controller="seachUserCtrl" ng-if="user.soreffriend">                    
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email" >
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">                     
                      <!-- /.col -->
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Refer Your Friend</button>      
                      </div>
                    </div>
                  </form>

                </div>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="" ng-click="user.sofpassword=true;user.soregister=false;user.soreffriend=false">Forgot Password</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="" ng-click="user.sofpassword=false;user.soregister=true;user.soreffriend=false">Register</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="" ng-click="user.sofpassword=false;user.soregister=false;user.soreffriend=true">Refer Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-warning" >Sign out</a>
                </div>
                 <div class="pull-right">
                  <a  class="btn btn-warning " ng-click="user.iscolsed=false">My Orders</a>
                </div>
                <div class="pull-right">
                  <a  class="btn btn-warning " ng-click="user.iscolsed=false">Close</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
         <div> {{user_role}}</div>
          <li ng-if="user_role!='HAdmin'">
            <a href="" ng-click="showCart()"  data-toggle="control-sidebar"><i style="font-size:20pt" class="fa  fa-shopping-cart"></i><span class="label label-danger" style="font-size: 9px">{{orderdetail.length}}</span></a>
          </li>
          <li ng-if="user_role!='HAdmin'">
            <a href="" style="top:16px;right:28px"><span  class="pull-right badge bg-aqua " style="font-size:9pt">${{orderdetail.total+orderdetail.tax}}</span></a>
          </li>
        </ul>
      </div>
    </nav>