
<div class="content-wrapper" style="min-height:80vh;margin-left:0px">
   <section class="content">
      <div class="row" >
         <section class="col-lg-12 connectedSortable">
            
            <div class="col-lg-3 col-xs-6" >
                  <div class=" " >
                  <div class="user-panel">
                  <div class="pull-left image">
                  <img ng-src="/img/{{company.company_logo}}" style="max-width: 240px;" class="img-circle" alt="User Image">          
                  </div>        
                  </div>
                  <h5 class="white margin-bottom-small">{{company.company_slogan}}</h5>
                  </div>
              </div>

              <div class="col-lg-2 col-xs-2" ng-repeat="type  in orderType">
              <div class="">
                <div class="small-box bg-yellow ordertypeborder" ng-class="{'grayheader':type.value==selectedtype}">
                  <center><div class="inner">
                    <h3><div>
                        <img ng-src="img/{{type.img}}" alt="" title=""  style="width:50px;height:50px;padding-top:12px">
                      </div></h3>

                    <p style=" color: #996633;"><a ng-href="{{type.url}}"> {{type.name}} </a></p>
                  </div></center>
                 
                 
                </div>
              </div>
              </div>
        </section>
          
           <br>
          
           <br>
            <section class="col-lg-12 " >
             <div class="col-md-3" ng-repeat="branch in branches" ng-if="branch.branch_is_closed=='NO'">
             <div class="box box-widget widget-user" >
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow grayheader" style="height: 190px;">
              <h3 class="widget-user-username">{{branch.branch_name}}</h3>
              <div class="widget-user-desc">{{branch.branch_address1}},{{branch.branch_address2}},{{branch.branch_city}}</div>               
              <div class="widget-user-desc">{{branch.branch_state}},{{branch.branch_zip}}</div>
                  
                  <div class="widget-user-desc">Phone:-{{branch.branch_phone}}</div>
              <i class="widget-user-desc"><span class="description-text">Open Times</span><hr>
                  <div style="font-size: 10pt;" class="description-text" ng-repeat="tdata in branch.branch_time">
                  <div ng-repeat="(col, vals) in tdata" ><div class="oneline" style="width:70px">{{col}}</div> 
                      <div class="oneline" ng-repeat="cvals in vals" ><div class="oneline">{{cvals.open}}</div>-<div class="oneline"> {{cvals.close}}</div></div>
                  </div>
                  </div>
              </i>
            </div>          
            <div class="box-footer">
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group date" style="width:130px">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control pull-right" id="datepicker">
                      </div>
                      <div class="input-group" style="width:150px">
                        <div class="input-group-addon">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <input type="time" class="form-control pull-right" id="reservationtime">
                      </div>
                
                 <br>
                  <button type="button" class="btn btn-warning" ng-click="orderFood(branch)">Order</button>
                  <!-- /.description-block -->
                </div> 
                 </div>              
              </div>
              <!-- /.row -->
            </div>
          </div>
            </section>
            </div>
            <!--div class="col-md-6" >
               <vv-map id="gmaps" branches="branches" ng-model="branches"> </vv-map>
            </div-->
         </section>
      </div>

</div>