   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper">
   <!-- <section class="content-header">
      <h1>
        Briyani City
        <small>Taste it</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>-->
    <section class="content">
     
      <div class="row" >
        <section class="col-lg-12 connectedSortable" >
        <div class="col-md-12" ng-repeat="order in orders ">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;">{{order.food}}</h3>
               
             
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="background-color: #ddd">
              <div class="row-">
                <div class="col--md-2 col--sm-2">
                  <div class="pad">
                      <table><tr><td>
                      <img ng-src="/img/{{order.image}}" style="width:150px;height:90px"/>  
                      <br><br>
                      <div class="btn-group">
                         <div class="dd-menu dropdown-menu  bg-green" role="menu"> 
                         <div style="white-space: initial!important;padding: 12px;">{{order.description}}</div>
                         </div>
                          <span class="sr-only">Toggle Dropdown</span>  
                       <div class="btn-group">
                          <button type="button" class="btn  btn-warning   fa  fa-edit dropdown-toggle" data-toggle="dropdown"  ng-disabled="item.available =='NO'||item.isAddedInCart" ng-click="item.iscolsed=!item.iscolsed"> Cust</button>                   
                          <div class="dd-menu dropdown--menu  bg-yellow" role="menu" ng-style="{'display':item.iscolsed?'block':'none'}"  >                         
                            <div ng-repeat="(key ,value) in order.ingrediants" >
                            <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                            </div>                           
                            <li><textarea placeholder="Special notes to Chef" ng-model="order.description">{{order.description}}</textarea></li>
                            <li>
                            <!--<button type="button" class="btn btn-success fa fa-undo " data-toggle="dropdown"> Reset </button>-->
                            <button type="button" class="btn btn-warning  yellow-button fa fa-edit "    ng-click="customize(item)" data-toggle="dropdown"> OK </button></li>
                          </div>
                        </div>                                        
                        <button type="button" ng-click="addorder(order)" style="font-size: 12px;" class="btn  btn-warning   fa  fa-plus"> Add </button>
                        <button type="button" ng-click="deleteorder(order)" style="font-size: 12px;" class="btn  btn-warning   fa  fa-minus"> Delete </button>
                      </div>
                  </td>
                  <td>
                  <div class="col-lg-6 " class="info-box" ng-repeat="item in getAddOn(order.addon)">                  

                
                  <div class="box box-warning box-solid" style="background-color: #392613;">
                    <div class="box-header with-border">
                      <h3 class="box-title" style="font-size: 13px;">{{item.food}}</h3>
                        <div class="box-title pull-right">{{item.currency}}{{item.iprice}}</div>
                     
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body " style="background-color: #ddd">
                      <div class="row-">
                        <div class="col--md-1 col--sm-1">
                          <div class="pad">
                              <img ng-src="/img/{{item.image}}" style="width:40%;height:80px"/>                  
                              
                          </div>
                              <div class="btn-group" >
                                <div class="btn-group">
                                  <button type="button" class="btn btn-warning fa fa-edit dropdown-toggle" data-toggle="dropdown"  ng-disabled="item.available =='NO'||item.isAddedInCart" ng-click="item.iscolsed=!item.iscolsed"> Cust</button>                   
                                  <div class="dd-menu dropdown--menu  bg-yellow" role="menu" ng-style={'display':item.iscolsed?'block':'none'}  >                         
                                    <div ng-repeat="(key ,value) in item.ingrediants" >
                                    <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                                    </div>                           
                                    <li><textarea placeholder="Special notes to Chef" ng-model="item.comments">{{item.comments}}</textarea></li>
                                    <li>
                                    <!--<button type="button" class="btn btn-success fa fa-undo " data-toggle="dropdown"> Reset </button>-->
                                    <button type="button" class="btn btn-warning fa fa-edit "    ng-click="customize(item)" data-toggle="dropdown"> OK </button></li>
                                  </div>
                                </div>
                                <div class="btn-group">
                                <button type="button" class="btn btn-warning fa fa-info dropdown-toggle" data-toggle="dropdown"> Detail</button>
                                 <div class="dd-menu dropdown-menu  bg-yellow" role="menu"> 
                                 <div style="white-space: initial!important;padding: 12px;">{{item.description}}</div>
                                 </div>
                                 </div>
                                                                           
                                Select : <input type="checkbox" ng-model="order.addonip" ng-click="addOnItem(item,order)" style="height: 20px;width: 35px;"> Order </input>
                              </div>
                        </div>
                       </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                  </div>                
                 

                  </div>
                  </td>
                  <td><div class="box-title pull-right" style="font-size: 19pt; padding-bottom: 61px; padding-left: 40px;">{{order.currency}}{{order.iprice}}</div>
                  </td></tr></table>                                     
                      
                  </div>
                      
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

        <div class="col-md-12">
         <div class="box box-warning box-solid">
            <div class="box-body ">
              <div class="row-">
                <div class="col--md-2 col--sm-2">
                  <div class="pad" style="font-size: 13pt;">
                      <div>Tax         : {{orders.tax}}</div>
                      <div>Sub Total       : {{orders.total}}</div>
                      <div>Tips        : <input type="number"  ng-model="orders.tips">
                            <div class="btn-group" id="tips">
                                <a  class="btn fa fa-question dropdown-toggle" data-toggle="dropdown" ng-click="order.isDiscolsed=!order.isDiscolsed" style="padding: 1px 7px;float: left;width: 25px;height: 25px;border-radius: 50%;
    margin-right: 10px;margin-top: -11px;"></a>
                                <div class="dd-menu dropdown-menu  bg-yellow" role="menu" ng-style="{'display':order.isDiscolsed?'block':'none'}"> 
                                    <div style="white-space: initial!important;padding: 12px;" ng-click="selecttips(orders.total*.05)">5% Tips {{orders.total*.05}}</div>
                                    <div style="white-space: initial!important;padding: 12px;" ng-click="selecttips(orders.total*.1)">10% Tips {{orders.total*.1}}</div>
                                    <div style="white-space: initial!important;padding: 12px;" ng-click="selecttips(orders.total*.15)">15% Tips {{orders.total*.15}}</div>
                                    <div style="white-space: initial!important;padding: 12px;" ng-click="selecttips(orders.total*.20)">20% Tips {{orders.total*.20}}</div>
                                    <div style="white-space: initial!important;padding: 12px;" ng-click="selecttips(orders.total*.30)">30% Tips {{orders.total*.30}}</div>
                                </div>
                            </div>
                      </div>
                      <div>Final Total : {{orders.total+orders.tax+orders.tips}}</div>                                                   
                     
                  </div>                     
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

          <div class="col-md-12">
         <div class="box box-warning box-solid">
            <div class="box-body ">
              <div class="row-">
                <div class="col--md-2 col--sm-2">
                  <div class="pad">
               <div class="col-xs-12">
                    <p class="lead">Payment Methods:</p>
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                   
                            <div class="wrapperline" style="height:143px">
                                <div class="boxinside" style="width: 207px;">Card Number: <input disabled type="text" ng-model="search.main"></div>
                                <div class="boxinside" style="width: 207px;">Expiration Date:<div>
                                    <select disabled style="width:90px" ng-model="search.available" type=text> 
                                        <option>Yes</option><option>NO</option>
                                      </select>
                                      <select disabled style="width:90px" ng-model="search.available" type=text>
                                          <option>Yes</option>
                                          <option>NO</option>
                                      </select>
                                      </div></div>
                                <div class="boxinside" style="width: 207px;">
                                    Security Code: <input disabled type="number" ng-model="search.food"></div>                     
                            <div class="boxinside" style="width:220px">
                                Billing ZIP Code:<input disabled type="text" ng-model="search.food"></div>

                            <div class="boxinside" style="width: 207px;">
                                User Name: <input type="text" ng-model="orders.name"></div>
                            <div class="boxinside" style="width: 207px;">
                                User Email: <input type="email" ng-model="orders.email"></div>
                            <div class="boxinside" style="width: 207px;">
                                User Phone Number: <input type="number" ng-model="orders.phone"></div>
                            <div class="boxinside" style="width: 207px;">
                                <input class="btn btn-block btn-warning btn-lg" ng-click="finalCheckout(orders)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="Checkout">
                            </div>
                      </div>
                   
                </div>
                  </div>                     
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 






        </section></div>
       
      </div>
     </section>    
  </div>
 

 