   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper" style="min-height:80vh">
   <!-- <section class="content-header">
      <h1>
        Briyani City
        <small>Taste it</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>-->
    <section class="content">
     
      <div class="row" >
      <section class="col-lg-12 " ng-if="isKitchedClosed">
        <div class="col-md-12" >
         <div class="small-box bg-yellow">
            <div class="with-border">
              <h1 class="box-title" style="font-size: 34px;"><marquee>{{kitchenClosedReason}}</marquee></h1>            
            </div>
          </div>                
         </div> 
        </section>

        <section class="col-lg-12 connectedSortable" >
        <div class="col-m3d-4" ng-class="{'col-md-3':!enablecart,'col-md-4':enablecart}" ng-repeat="item in pMenu | filter:selectedfood">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;">{{item.food}}</h3>
                <div class="box-title pull-right">{{item.currency}}{{item.price}}</div>
             
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="background-color: #ddd">
              <div class="row-">
                <div class="col--md-2 col--sm-2" style="text-align: center;">
                  <div class="pad">
                      <img ng-src="/img/{{item.image}}" style="width:100%;height:150px"/>
                      <img src="/img/customized.png" ng-if="item.isCustomized" style=" position: absolute;top:54px;left: -19px;"/>
                      <img src="/img/Added in cart.png" ng-if="item.isAddedInCart" style=" position: absolute;top:55px;left: -21px;"/> 
                       <img src="/img/no-item.png" ng-if="item.available=='NO'" style=" position: absolute;top:55px;left: -21px;"/> 
                      <!--div title="{{item.description}}" style="height:50px">{{ item.description | limitTo: 100 }}{{item.description.length > 100 ? '...' : ''}}</div-->
                      
                  </div>
                      <div class="btn-group" ng-if="!isKitchedClosed">
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning fa fa-edit dropdown-toggle" data-toggle="dropdown"  ng-disabled="item.available =='NO'||item.isAddedInCart" ng-click="item.iscolsed=!item.iscolsed"> Cust</button>                   
                          <div class="dd-menu dropdown--menu  bg-yellow" role="menu" ng-style="{'display':item.iscolsed?'block':'none'}"  >                         
                            <div ng-repeat="(key ,value) in item.ingrediants" >
                            <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                            </div>                           
                            <li><textarea placeholder="Special notes to Chef" ng-model="item.comments">{{item.comments}}</textarea></li>
                            <li>
                            <!--<button type="button" class="btn btn-success fa fa-undo " data-toggle="dropdown"> Reset </button>-->
                            <button type="button" class="btn btn-warning  yellow-button fa fa-edit "    ng-click="customize(item)" data-toggle="dropdown"> OK </button></li>
                          </div>
                        </div>
                        <div class="btn-group" id="description">
                            <button type="button" class="btn btn-warning fa fa-info dropdown-toggle" data-toggle="dropdown" ng-click="item.isDiscolsed=!item.isDiscolsed"> Detail</button>
                            <div class="dd-menu dropdown-menu  bg-yellow" role="menu" ng-style="{'display':item.isDiscolsed?'block':'none'}"> 
                                <div style="white-space: initial!important;padding: 12px;">{{item.description}}</div>
                            </div>
                         </div>
                                                                   
                        <button type="button" ng-click="addItem(item)" ng-disabled="item.available =='NO'" style="font-size: 12px;" class="btn  btn-warning   fa  fa-shopping-cart"> Order </button>
                      </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 
        </section></div>
       
      </div>
     </section>    
  </div>
 <div ng-include="'right_menu.html'" ng-if="enablecart"> </div>

 