<div class="content-wrapper" style=" min-height:75vh;margin-left:0px">
  	<section class="content-header">
  		

	  		<section id="ordertype" class="content ordertypebackground">
		    	<div class="ordertypetoppage " >
		    	<div class="user-panel">
			        <div class="pull-left image">
			          <img ng-src="/img/{{company.company_logo}}" style="max-width: 370px;" class="img-circle" alt="User Image">          
			        </div>        
			      </div>
	        	    <h1 class="white margin-bottom-small">{{company.company_slogan}}</h1>
	    		</div>
	    		<div class="row ordertypeborder">
			        <div class="col-lg-3 col-xs-6" ng-repeat="type  in orderType">
			        
			          <a ng-href="{{type.url}}"><div class="small-box bg-yellow " >
			            <center><div class="inner">
			              <h3><div>
												<img ng-src="img/{{type.img}}" alt="" title=""  style="width:100px;height:100px;padding-top:12px">
											</div></h3>

			              <p style=" color: #996633;"> {{type.name}} </p>
			            </div></center>
			           
			           
			          </div></a>
			        </div>
			        </div>
			<!--	<div class="row">
					<div class="ordertypecolumn" style="width: 375px;">
					 	<div class="box">
					  		<div class="box-header">
						 		<div class="box-body" align="center">
									<a href="#/branches?cboss=1">
										<div>
												<img src="img/takeaway.jpg" alt="" title=""  style="width:45px;height:30px">
											</div>
											<span class="h3"> <font size="“10”" face="“arial”" color="red">Carry Out </font> </span> <br>
										
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="ordertypecolumn" style="width: 375px;">
					 	<div class="box">
					  		<div class="box-header" align="center">
						 		<div class="box-body ">
									<a href="#/branches?cboss=1">
										
											<div >
												<img src="img/delivery.jpg" alt="" title=""  style="width:45px;height:30px">
											</div>
											<span class="h3"> <font size="“10”" face="“arial”" color="red">Delivery </font> </span> <br>
										
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="ordertypecolumn" style="width: 375px;">
					 	<div class="box">
					  		<div class="box-header " align="center">
						 		<div class="box-body ">
									<a href="#/branches?cboss=1">
										
											<div>
												<img src="img/dinein3.jpg" alt="" title=""  style="width:55px;height:40px">
											</div>
											<span class="h3"> <font size="“10”" face="“arial”" color="red">Dine In </font> </span> <br>
										
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			 	<div class="row">
					<div class="col-sm-12" >
					 <div class="box box-warning">
					  <div class="box-header with-border">
						 <div class="box-body ">
							<div class="row">

							  <div class="col-sm-10" >
								  <div class="pad" align="middle" ng-click="">
									  <img ng-src="../img/catering.jpg" style="width:45px;height:30px"/> <br>
									  <span class="h3"> <font size="“10”" face="“arial”" color="red">Catering </font> </span> <br>
									  Place your order for Catering service..  
								  </div>
							  </div>
							  </div>
							</div>
						 </div>  
					  </div>  
					</div>
				</div>  -->
			</section>
		
	</section>   
</div>
 

 