   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div ng-include="'dashboard.html'"></div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Branch Management</h3>
                         
            </div>
             <div class="box-body no-padding">           

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                    <table class="table table-striped">
                      <tr>
                      <th style="width:160px">BranchName</th>
                      <th style="width:160px">Kitchen Description</th>
                      <th style="width:260px">Kitchen Closed</th>
                      <th style="width:160px">Branch Phone</th>
                      <th style="width:160px">Branch Closed</th>
                      <th style="width:160px">Branch Start Time</th>
                      <th style="width:160px">Branch End time</th>
                      </tr>
                      <tr ng-repeat="branches in branchess ">
                        <td >{{branches.branch_name}}</td>
                        <td><div class="popover-wrapper"><a editable-text="branches.branch_kit_desc" onaftersave="updateXeditBranch(branches,'branch_kit_desc')" >{{branches.branch_kit_desc}}</a></div></td>

                         <td><div class="popover-wrapper"><a href="#" editable-select="branches.branch_kit_close" onaftersave="updateXeditBranch(branches,'branch_kit_close')" e-ng-options="g.id as g.text for g in [{id:'YES',text:'YES'},{id:'NO',text:'NO'}]">{{branches.branch_kit_close?branches.branch_kit_close:'-'}}</a></div></td>

                        <td><div class="popover-wrapper"><a editable-text="branches.branch_phone" onaftersave="updateXeditBranch(branches,'branch_phone')" >{{branches.branch_phone}}</a></div></td>

                        <td><div class="popover-wrapper"><a href="#" editable-select="branches.branch_is_closed" onaftersave="updateXeditBranch(branches,'branch_is_closed')" e-ng-options="g.id as g.text for g in [{id:'YES',text:'YES'},{id:'NO',text:'NO'}]">{{branches.branch_is_closed?branches.branch_is_closed:'-'}}</a></div></td>

                         <td><div class="popover-wrapper"><a editable-text="branches.branch_start_time" onaftersave="updateXeditBranch(branches,'branch_start_time')" >{{branches.branch_start_time}}</a></div></td>

                         <td><div class="popover-wrapper"><a editable-text="branches.branch_end_time" onaftersave="updateXeditBranch(branches,'branch_end_time')" >{{branches.branch_end_time}}</a></div></td>
                       
                      </tr>
                    </table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
       
      </div>
     </section>    
  </div>
 

 