   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper" style="min-height:80vh">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div ng-include="'dashboard.html'"></div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            
             <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                  
                      <div class="wrapperline">
                      <div style="width:250px" class="boxinside" >Food: <angucomplete id="ex1"
                            placeholder="Search Food"
                            pause="20"
                            selectedobject="search"
                            localdata="foods"
                            searchfields="name"
                            titlefield="name"
                            minlength="1"
                            inputclass="form-control form-control-small"/></div>                     
                      <div class="boxinside" style="width:90px"><input class="btn btn-block btn-warning btn-lg" ng-click="addFood(search)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="Add Food"></div>
                       
                     
                      
                      
                      <div class="boxinside" style="padding-left: 7px;">Customer Phone  Number:<div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" ng-model="admorder.phone" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
                          </div>
                      </div>
                      <div class="boxinside">
                            Table : <select><option> </option><option>Table 1 </option></select>
                           </div>
                            <div class="boxinside" style="width:90px; padding-left: 13px;"><input class="btn btn-block btn-warning btn-lg" ng-click="checkout(admorder)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="Checkout"></div> 
                             <div class="boxinside" style="width:90px;padding-left: 14px;"><input class="btn btn-block btn-warning btn-lg" ng-click="newOrder()"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="New Order"></div>
                    </div>
                 
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
      <div class="row">
        <section class="col-lg-10 connectedSortable">
        <div class="col-md-10">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Menu</h3>
                          
            </div>
             <div class="box-body no-padding">           

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                    <table class="table table-striped">
                      <tr>                     
                      <th style="width:260px">Food</th>
                      <th style="width:160px">Price</th>
                      
                      <th style="width:160px">Customization</th>
                      <th style="width:16px">delete</th>
                      </tr>
                      <tr ng-repeat="order in admorder ">
                        <td>{{order.name}}</td>
                        <td>{{order.price}}</td>                        
                        <td><div class="btn-group">
                          <button type="button" class="btn btn-warning fa fa-edit dropdown-toggle" data-toggle="dropdown" ng-click="order.iscolsed=!order.iscolsed"> Custamize</button>                   
                          <div class="dd-menu dropdown--menu  bg-yellow" role="menu" ng-style={'display':order.iscolsed?'block':'none'}  >                         
                            <div ng-repeat="(key ,value) in  cContents(order.ingrediants)" >
                            <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                            </div>                           
                            <li><textarea placeholder="Special notes to Chef" ng-model="order.comments">{{order.comments}}</textarea></li>
                            <li>
                            <!--<button type="button" class="btn btn-success fa fa-undo " data-toggle="dropdown"> Reset </button>-->
                            <button type="button" class="btn btn-warning fa fa-edit " ng-click="customize(order)" data-toggle="dropdown"> OK </button></li>
                          </div>
                        </div></td>
                         <td><button type="button" class="btn btn-box-tool" data-widget="remove" ng-click="removeFood(order)"><i class="fa fa-remove"></i></button></td>
                      </tr>
                    </table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 
         </div>
       
       
        <div class="col-md-2">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Total</h3>                         
            </div>
             <div class="box-body no-padding">           

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                    <table class="table table-striped">
                      <tr>                     
                      <th style="width:260px">SubTotal</th><th>{{currency}}{{admorder.subTotal}}</th></tr>
                     <tr><th style="width:260px">Tax</th><th>{{currency}}{{admorder.tax}}</th></tr>
                     <tr><th style="width:260px">Tips</th><th style="width:120px">{{currency}}<input style="width:54px" type=text ng-model="admorder.tips"/></th></tr>
                     <tr> <th style="width:260px">Total</th><th>{{currency}}{{admorder.total}}</th>
                     </tr>
                    </table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div>      
        </div>
</section>
        </div>
      </div>
     </section>    
  </div>
 

 