   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      
      <div class="row">
        <div class="col-lg-2 col-xs-6" ng-repeat="(key ,value)  in dashboardStatus">
        
          <div class="small-box "  ng-class="{'bg-fuchsia':key=='Ordered','bg-orange':key=='InProgress','bg-olive':key=='Hold','bg-purple':key=='Ready','bg-red':key=='Cancelled','bg-navy':key=='Delivered'}">
            <div class="inner">
              <h3>{{value}}</h3>

              <p>{{key}} Orders</p>
            </div>
           
           
          </div>
        </div>
          </div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            
             <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                  
                      <div class="wrapperline">
                      <div class="boxinside" style="width:157px">Order Type:<select style="width:153px"ng-model="search.orderType" type=text><option>Internet</option><option>Internet To Go</option><option>To Go</option><option>Table</option></select></div>
                       <div class="boxinside" style="width:157px">Order Status:<select style="width:153px"ng-model="search.orderStatus" type=text><option ng-repeat=" status in orderStatus">{{status.text}}</option></select></div>
                      <div class="boxinside" style="width:188px">Order Date:<div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="date" class="form-control pull-right" style="width:153px" ng-model="search.orderDate" id="datepicker">
                </div></div>
                      <div class="boxinside" style="width:167px" >User Phone Number:<div class="input-group" style="width:184px">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" class="form-control" ng-model="search.orderPhone" style="width:135px"data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
                </div>
                </div>
                      <!--div class="boxinside" style="width:157px">Table:<input type="text" ng-model="search.orderTable" style="width:153px"></div-->
                      <div class="boxinside" style="width:100px"><input class="btn btn-block btn-warning btn-lg"  ng-click="searchOrder(search)" style="height: 33px;margin-top: 20px;width: 64px;" type=button value="search"></div>
                    </div>
                  
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
      <div class="row" ng-if="hmmorders">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Order</h3>
                         
            </div>
             <div class="box-body no-padding">           

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-1 ">
                  <div class="pad table-responsive">
                    <table class="table table-hover">
                      <tr>
                      <th style="width:160px">User</th>
                      <th style="width:160px">Price</th>
                      <th style="width:260px">tips</th>
                      <th style="width:160px">Type</th>
                      <th style="width:160px">phone</th>
                      <th style="width:160px">Status</th>
                      <th style="width:20px">Edit</th>
                      <th style="width:20px">Print</th>
                     </tr>
                      <tr ng-repeat="order in hmmorders " >
                       <td >{{order.order_user}}</td>
                        <td >{{order.order_price}}</td>
                        <td>{{order.order_tips}}</td>
                        <td>{{order.order_type}}</td>
                        <td>{{order.order_phone}}</td>
                        <td><div class="popover-wrapper"  ng-class="{'bg-fuchsia':order.order_status=='Ordered','bg-orange':order.order_status=='InProgress','bg-olive':order.order_status=='Hold','bg-purple':order.order_status=='Ready','bg-red':order.order_status=='Cancelled','bg-navy':order.order_status=='Delivered'}">
                        <a style="color:#fff" href="#" editable-select="order.order_status" onaftersave="updateXeditFood(order,'order_status')" e-ng-options="g.id as g.text for g in orderStatus">{{order.order_status}}</a></div></td>
                        <td><button type="button" class="btn btn-box-tool"  ng-click="showOrderDetails(order)"><i class="fa fa-edit"></i></button></td>
                        <td><button type="button" class="btn btn-box-tool"  ng-click="getOrderDetail(order)"><i class="fa fa-print"></i></button></td>
                                            
                      </tr>
                    </table>
                  </div>
                </div>

                 
               </div>
            
            </div>


            <!-- /.box-body -->
          </div>                
         </div>   

          
        </section>
        </div>
       
      </div>
     </section>    
  </div>
 

 