<div class="col-md--5 col-sm--8" >
                  <div class="pad">
                   <section  class="invoice" style="margin:1px;height: 550px;width: 452px; display: inline-block;overflow: auto;"><div id='ItemPrint'>
                            <!-- title row -->
                            <div class="row">
                              <div class="col-xs--11">
                                <div class="page-header" style=" margin: -13px 0 10px;text-align: center">
                                  <img ng-src="/img/{{company.company_logo}}" style="max-width: 138px;" >
                                  <img style="position: absolute;top: 144px;left: 80px;" ng-if="order.order_paid==1"" src="/img/paid.png">
                                  <div style="font-size:11pt;">
                                {{company.branch_name}},<br>{{company.branch_address1}},{{company.branch_address2}},{{company.branch_city}}, {{company.branch_state}},<br>{{company.branch_zip}}.<br><div class="fa fa-phone"> {{company.branch_phone}}</div>
                                
                              </div>                                 
                                </div>
                              </div>
                               <small class="pull-right fa fa-print" ng-click="printMe()"></small>
                              <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">                            
                              <!-- /.col -->
                              <div class="col-sm-6 invoice-col">
                                <b>Order ID:</b> {{order.order_id}}<br>
                               <b>Order Date:</b>{{order.order_date | date:'yyyy-MM-dd'}}<br>
                                <b>User Phone Number:</b>{{order.order_phone}}                        
                              </div>
                              <div class="col-sm-6 invoice-col">
                               <b>Ordered By:</b> {{order.order_user}}<br>                               
                                <b>Number Of Items:</b>{{orderdetails.length}}<br> 
                              </div>
                            </div>
                            <br>
                            <!-- /.row -->

                            <!-- Table row -->
                            <div class="row">
                              <div class="col-xs--12 table-responsive">
                                <table class="table table-striped" style=" ">
                                  <thead>
                                  <tr>
                                    <th >Food</th>
                                    <th>Price</th>
                                    <th>Customise</th>                                 
                                                                     
                                  </tr>
                                  </thead>
                                  <tbody >
                                  <tr ng-repeat="dorder in orderdetails ">
                                    <td style="    width: 291px;">{{dorder.orderd_name}}</td>
                                    <td>{{currency}} {{dorder.orderd_price}}</td>
                                    <td>
                                     <div ng-if="dorder.orderd_customized==1"class="btn-group">
                                        <button type="button" class="btn btn-warning fa fa-edit dropdown-toggle" data-toggle="dropdown" ng-click="dorder.iscolsed=!dorder.iscolsed"> Customized</button>                   
                                        <div class="dd-menu dropdown--menu  " role="menu" ng-style={'display':dorder.iscolsed?'block':'none'}  >                         
                                          <div ng-repeat="(key ,value) in cContents(dorder.orderd_contents)" >
                                          <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                                          </div>                    
                                          <li><textarea placeholder="Special notes to Chef" ng-model="dorder.comments">{{dorder.orderd_description}}</textarea></li>
                                                                               
                                        </div>
                                      </div>
                                       <div ng-if="dorder.orderd_customized==0">Regular</div>
                                    </td>                          
                                     </tbody>
                                </table>
                                <table>
                                </tbody>                              
                                  </tr>
                                  <tr>
                                    <td style="width:294px">Sub Total: </td>
                                    <td>{{currency}} {{orderdetails.total}}</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Tax: </td>
                                    <td>{{currency}} {{orderdetails.tax}}</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Grand Total: </td>
                                    <td>{{currency}} {{orderdetails.gtotal}}</td>
                                    <td></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->

                           
                            <!-- /.row -->

                          </div>
                          </section>
                  </div>
                </div>
