    <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div ng-include="'dashboard.html'"></div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            
             <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                  
                      <div class="wrapperline">
                      <div class="boxinside" >Main: <input type="text" ng-model="search.main" style="width: 172px;"></div>
                      <div class="boxinside" >Sub:<input type="text" ng-model="search.sub" style="width: 172px;"></div>
                      <div class="boxinside" >Food: <input type="text" ng-model="search.food" style="width: 172px;"></div>                     
                      <div class="boxinside" >Availablity:<select style="width: 172px;" ng-model="search.available" type=text><option>Yes</option><option>NO</option></select></div>
                     <div class="boxinside" ><input class="btn btn-block btn-warning btn-lg" ng-click="searchFood(search)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="search"></div>
                    </div>
                  
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
      <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Menu</h3>
              <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#" ng-click="previous()">«</a></li>
                  <li><a href="#">Current Page -1/1</a></li>                
                  <li><a href="#">»</a></li>
                </ul>
              </div>             
            </div>
             <div class="box-body no-padding">           

            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                    <table class="table table-striped">
                      <tr>
                      <th style="width:160px">Main</th>
                      <th style="width:160px">Sub</th>
                      <th style="width:260px">Food</th>
                      <th style="width:160px">Price</th>
                      <th style="width:160px">Availablity</th>
                       <th style="width:160px">Add on</th>
                      <th style="width:160px">Description</th>
                      <th style="width:160px">Ingrediants</th>
                      <th style="width:160px">Id</th>
                      </tr>
                      <tr ng-repeat="food in admfood ">
                        <td >{{food.cat_name}}</td>
                        <td>{{food.cat_subname}}</td>
                        <td><div class="popover-wrapper"><a editable-text="food.name" onaftersave="updateXeditFood(food,'name')" >{{food.name}}</a></div></td>
                        <td><div class="popover-wrapper"><a editable-text="food.price" onaftersave="updateXeditFood(food,'price')" >{{food.price}}</a></div></td>
                        <td><div class="popover-wrapper"><a href="#" editable-select="food.isAvailable" onaftersave="updateXeditFood(food,'isAvailable')" e-ng-options="g.id as g.text for g in [{id:'YES',text:'YES'},{id:'NO',text:'NO'}]">{{food.isAvailable?food.isAvailable:'-'}}</a></div></td>
                         <td><div class="popover-wrapper"><a editable-text="food.addon" onaftersave="updateXeditFood(food,'addon')" >{{food.addon?food.addon:'-'}}</a></div></td>
                          <td><div class="popover-wrapper"><a editable-text="food.description" onaftersave="updateXeditFood(food,'description')" >{{food.description}}</a></div></td>
                           <td><div class="popover-wrapper"><a editable-text="food.ingrediants" onaftersave="updateXeditFood(food,'contents')" >{{food.ingrediants?food.ingrediants:'-'}}</a></div></td>
                            <td><div class="popover-wrapper">{{food.id}}</div></td>
                      </tr>
                    </table>
                  </div>
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
       
      </div>
     </section>    
  </div>
 

 