<div class="col-md--5 col-sm--8" id='ItemPrint'>
                  <div class="pad">
                   <section class="invoice" style="margin:-17px">
                            <!-- title row -->
                            <div class="row">                             
                              <div> Modify Order</div>
                              <!-- /.col -->
                               <div class="wrapperline">
                          <div style="width:220px" class="boxinside" >Food: <angucomplete id="ex1"
                                placeholder="Search Food"
                                pause="20"
                                selectedobject="search"
                                localdata="foods"
                                searchfields="name"
                                titlefield="name"
                                minlength="1"
                                inputclass="form-control form-control-small"/></div>                     
                                <div class="boxinside" style="width:90px"><input class="btn btn-block btn-warning btn-lg" ng-click="addInFood(search)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="Add Food"></div>

                                <div class="boxinside" style="width:80px"><input class="btn btn-block btn-warning btn-lg" ng-click="upsaveOrder(orderdetails)"style="height: 33px;margin-top: 20px;width: 95px;" type=button value="Save"></div>
                          </div>
                            </div>                           
                           
                            <!-- Table row -->
                            <div class="row">
                              <div class="col-xs--12 table-responsive">
                                <table class="table  table-hover">
                                  <thead>
                                  <tr>
                                    <th>Food</th>
                                    <th>Price</th>
                                    <th>Customise</th>
                                  
                                    <th style="width:10px">Cancel</th>                                    
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="dorder in orderdetails ">
                                    <td style="width:168px">{{dorder.orderd_name}}</td>
                                    <td>{{currency}}  {{dorder.orderd_price}}</td>
                                    <td>
                                     <div ng-if="dorder.orderd_customized==1"class="btn-group">
                                        <button type="button" class="btn btn-warning fa fa-edit dropdown-toggle" data-toggle="dropdown" ng-click="dorder.iscolsed=!dorder.iscolsed"> Customized</button>                   
                                        <div class="dd-menu dropdown--menu  " role="menu" ng-style={'display':dorder.iscolsed?'block':'none'}  >                         
                                          <div ng-repeat="(key ,value) in cContents(dorder.orderd_contents)" >
                                          <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                                          </div>                    
                                          <li><textarea placeholder="Special notes to Chef" ng-model="dorder.comments">{{dorder.orderd_description}}</textarea></li>
                                          <li> <button type="button" class="yellow-button btn btn-warning fa fa-edit " ng-click="order.iscolsed=!order.iscolsed" data-toggle="dropdown"> OK </button></li>                                     
                                        </div>
                                      </div>
                                       <div ng-if="dorder.orderd_customized==0">Regular</div>
                                    </td>
                                   
                                    <td ><button type="button" class="btn btn-box-tool" data-widget="remove" ng-click="removeInFood(dorder)"><i class="fa fa-remove"></i></button></td>                                
                                  </tr>
                                  </tbody>
                                </table>
                                 <table>
                                </tbody>                              
                                  </tr>
                                  <tr>
                                    <td style="width:168px">Sub Total: </td>
                                    <td>{{currency}} {{orderdetails.total}}</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Tax: </td>
                                    <td>{{currency}} {{orderdetails.tax}}</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Grand Total: </td>
                                    <td>{{currency}} {{orderdetails.gtotal}}</td>
                                    <td></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->

                           
                            <!-- /.row -->

                          
                          </section>
                  </div>
                </div>
