   <div ng-include="'main-header.html'" ></div>
  <div ng-include="'left-menu.html'" ></div>
  <div class="content-wrapper" style="min-height:80vh">
  
    <section class="content">
     <div class="row">
        <section class="col-lg-12 connectedSortable">
        <div class="col-md-12">
         <div class="box box-warning box-solid">
            
             <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-8">
                  <div class="pad">
                  
                      <div class="wrapperline">
                      <div class="boxinside" >From: <input type="date" ng-model="search.from" style="width: 172px;"></div>
                      <div class="boxinside" >To: <input type="date" ng-model="search.to" style="width: 172px;"></div>
                      <div class="boxinside" >Branch:<select ng-model="search.branch" style="width: 172px;"><option ng-repeat="branch in branches" value="{{branch.branch_id}}">{{branch.branch_name}}</option></select></div>
                      <div class="boxinside" >Period: <select ng-model="search.period"  style="width: 172px;"><option ng-repeat="per in periods">{{per}}</option></select></div>                     
                      
                     <div class="boxinside" ><input class="btn btn-block btn-warning btn-lg" ng-click="draw(search)"style="height: 33px;margin-top: 20px;width: 50px;" type=button value="Search"></div>
                    </div>
                  
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

   

          
        </section>
        </div>
      <div class="row" >
     
        <section class="col-lg-12 connectedSortable" >
        <div class="col-md-6"  >
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;">Sales</h3>             
            </div>
           <div class="box-body " >
              <div class="row-">
                <div class="col--md-2 col--sm-2" style="text-align: center;">
                  <div class="pad">
                     <canvas id="bar" class="chart chart-bar"
                      chart-data="data" chart-labels="labels"> chart-series="series"
                    </canvas>
                      
                  </div>
                      
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 

          <div class="col-md-6"  >
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;">Tips</h3>             
            </div>
           <div class="box-body " >
              <div class="row-">
                <div class="col--md-2 col--sm-2" style="text-align: center;">
                  <div class="pad">
                     <canvas id="bar" class="chart chart-bar"
                      chart-data="tips" chart-labels="labels"> chart-series="series"
                    </canvas>
                      
                  </div>
                      
                </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 


          <div class="col-md-6"  >
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;">Sales </h3>             
            </div>
           <div class="box-body " >
              <div class="row-">
                <div class="col--md-2 col--sm-2" style="text-align: center;">
                  <div class="pad">
                   <div class="col-md-3" style="display: block;width: 187px;height: 187px;">  <canvas id="pie" class="chart chart-pie"
                    chart-data="data" chart-labels="labels" chart-options="options" >
                  </canvas></div>


                  
                      
                  </div>
                  </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 
          <div class="col-md-6"  >
         <div class="box box-warning box-solid">
            <div class="box-header with-border">
              <h3 class="box-title" style="font-size: 13px;"> Tips</h3>             
            </div>
           <div class="box-body " >
              <div class="row-">
                <div class="col--md-2 col--sm-2" style="text-align: center;">
                  <div class="pad">
                


                   <div class="col-md-3" style="display: block;width: 187px;height: 187px;">  <canvas id="pie" class="chart chart-pie"
                    chart-data="tips" chart-labels="labels" chart-options="options" >
                  </canvas></div>
                      
                  </div>
                  </div>
               </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>                
         </div> 
        </section></div>
       
      </div>
     </section>    
  </div>


 