 <div ng-include="'header.html'"></div>
 <md-content style="height: 600px;" md-theme="altTheme">	
 <section class="md-padding">
     <form >
        <div >
          
<div layout="row" layout-align="center center">
            <img src="http://w3lessons.info/logo.png" alt="" class="">
          </div>
        </div>
		<md-input-container class="md-block" >
			<label>Hospital / Clinic Code</label>
			<input type="number" name="code" ng-model="hospital.code" required>
		 </md-input-container>
		  <md-select placeholder="User Type" class="md-block" ng-model="user.type" md-on-open="loadUsers()" style="min-width: 200px;">
				  <md-option>Clinic1</md-option>
				  <md-option>Clinic2</md-option>
			 </md-select>
		           
		<md-button class="md-raised md-primary">Add Clinic</md-button>
        <md-button class="md-raised md-primary">Go</md-button>
     

      </form>
   <section> </md-content>