
<body class="hold-transition login-page" >
<div class="login-box" >
 <div ng-include src="'header.html'"></div>
  
  <div class="login-box-body" >
  <div class="col-lg-12 col-xs-12" >
                  <div class=" " >
                  <div class="user-panel">
                  <div class="pull-left image">
                  <img ng-src="/img/{{company.company_logo}}" style="max-width: 240px;" class="img-circle" alt="User Image">          
                  </div>        
                  </div>
                 
                  </div>
              </div>   

    <form method="post"  >                
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" ng-model="user.password" placeholder="Old Password">
              </div><br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" ng-model="user.password1" placeholder="New Password">
              </div><br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" ng-model="user.password2" placeholder="Confirm New password">
              </div><br>
                  
                 
                    <div class="row">                   
                      
                      <div class="col-xs-4">
                        <button type="submit" ng-click="changePassword()" class="btn btn-warning  ">Get Password</button>      
                      </div>
                    </div>
                  </form>
   
  </div>
  <!-- /.login-box-body -->
</div>


