 <div ng-include="'header.html'"></div>
 <md-content style="height: 600px;" md-theme="altTheme">	
 <section class="md-padding">
     <form >
        <div >          
		<md-input-container class="md-block" >
			<label>Number Of Tokens</label>
			<input type="number" name="code" ng-model="token.number" required>
		 </md-input-container>
		 <md-input-container class="md-block" >
			<label>Token Start Number</label>
			<input type="number" name="code" ng-model="token.start" required>
		 </md-input-container>
		 <md-button class="md-raised md-primary">SetUp Token</md-button>
		 <div layout="row" layout-align="center center">
            Running Token
          </div>
        </div>
		<div class="md-display-4"><div layout="row" layout-align="center center">2</div></div>
		           
     
        <md-button class="md-raised md-primary">Next Token</md-button>	
     

      </form>
   <section> </md-content>