<footer class="main-footer" >
  	
	<div class="col-sm-16" >
	
	<strong>Copyright &copy; 2016-2017 <a href="http://dd.com">Vel</a>.
	</strong> All rights reserved.	
	   <b>Version</b> 2.3.6  
	   
	</div>
	
	
	
  </footer>