

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div ng-include="'dashboard.html'"></div>
        <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
		  <v-table></v-table>
		  <vv-table ng-config="userConfig" ng-data="userData"></vv-table>
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
         <!-- <div ng-include="'etc-right.html'"></div> -->
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
   