<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Raptorziel</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
<div class="menu">
    	<div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
		 <div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
		 <div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
		 <div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
		 <div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
		 <div class="ripple col-lg-4 pdng0"  ng-click="go(menu.menuUrl)"> 
				<span class="menu-icon"></span>
           <div>meni1</div> 
         </div>
	<br class="clearfix"/>
    </div>
  </div>