  <!doctype html>
  <html ng-app="PVM">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <title>{{company.company_name}}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
 
 

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="extlib/css/autocomplete.css">
<link rel="stylesheet" href="extlib/css/xeditable.css">
<link rel="stylesheet" href="extlib/css/ng-dialog.css">
<link rel="stylesheet" href="extlib/css/ui-grid.css">
<link rel="stylesheet" href="extlib/css/ang-datepicker.css">

  <link rel="stylesheet" href="css/app-common.css">
  <link rel="stylesheet" ng-href="css/mycss-{{company.company_theme}}.css">
  <link rel="stylesheet" href="css/mycss.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.min.js"></script>
  <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
  <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

  <script src="extlib/js/dynamic-form.js"></script>
  <script src="plugins/chartjs/chart.js"></script>
  <script src="extlib/js/angular-chart.min.js"></script>
  <script src="extlib/js/xeditable.js"></script>
  <script src="extlib/js/ui-grid.js"></script>
   <script src="extlib/js/ng-dialog.js"></script>
  <script src="extlib/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
   <script src="extlib/js/autocomplete.js"></script>
  <script src="extlib/js/ang-datepicker.js"></script>

  <script src="lib/router.js"></script>
  <script src="lib/controller.js"></script>
  <script src="lib/util/VTable.js"></script>
  <script src="lib/util/VVForm.js"></script>
  <script src="lib/util/VVTable.js"></script>
  <script src="lib/util/VVLov.js"></script>

  <script src="lib/util/vv_upsert.js"></script>
  <script src="lib/util/vv_menu.js"></script>

  <script src="lib/util/spinner.js"></script>
  <script src="lib/util/VVRating.js"></script>
  <script src="lib/UserService.js"></script>
  <script src="lib/hmm_item.js"></script>
  <script src="lib/hmm_ordertype.js"></script>
  <script src="lib/hmm_management.js"></script>
  <script src="lib/hmm_order.js"></script>
  <script src="lib/util/vv_map.js"></script>

  <script src="lib/services/order_service.js"></script>
  <script src="lib/services/hmm_util_service.js"></script>
  <script src="lib/services/fm_util_service.js"></script>
    <script src="lib/util/vv_menu_mgt.js"></script>
  </head>

  <body class="hold-transition skin-red   sidebar-mini" ng-class="{'control-sidebar-open':enablecart}">
  <div class="wrapper">

 

  <div class="contain1er ta1sks">  
    <div class="loading" data-loading></div>
    <div ng-view style="min-height:60vh"> </div>
  </div>

  <div ng-include="'footer.html'" ></div>
  
  </div>
  <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  </html>