
<body class="hold-transition login-page" >
<div class="login-box" >
 <div ng-include src="'header.html'"></div>
  
  <div class="login-box-body" >
  <div class="col-lg-12 col-xs-6" >
                  <div class=" " >
                  <div class="user-panel">
                  <div class="pull-left image">
                  <img ng-src="/img/{{company.company_logo}}" style="max-width: 240px;" class="img-circle" alt="User Image">          
                  </div>        
                  </div>
                 
                  </div>
              </div>   

    <form method="post"  >
                 <!--   <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>-->
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" ng-model="user.email" placeholder="User Email">
              </div><br>
                   <!-- <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>-->
                    <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" ng-model="user.password" placeholder="User Password">
              </div><br>
                    <div class="row">
                      <div class="col-xs-8">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox"> Remember Me
                          </label>
                        </div>
                      </div>
                      
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Sign In</button>      
                      </div>
                    </div>
                  </form>
    <a href="#/fpassword">I forgot my password</a><br>
    <a href="#/register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>


