 <header class="main-header"  ng-controller="seachUserCtrl">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>R</b>Z</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>{{company.company_name}}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
   <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav" >
         <li ng-if="!is_mobile"><marquee style="font-size: 17pt;margin-top: 18px;width: 835px;color:#fff">{{company.branch_message}}</marquee></li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu"><a ng-href="{{company.branch_fb}}"  style="margin-top:-1px;">
              <img src="/img/fb.png" class="user-image" alt="User Image">
              <span class=" hidden-xs"></span>
            </a></li>
          <li class="dropdown user user-menu">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="user.iscolsed=!user.iscolsed" style="margin-top:-1px;top: 7px;">
              <img src="dist/img/avatar5.png" class="user-image" alt="User Image">
              <span class=" hidden-xs"></span>
            </a>
            <ul class="dropdown-menu " ng-style={'display':user.iscolsed?'block':'none'}  style="top:52px">
             <li class="user-header " >
                <p>{{user.name}}
                <p><a ng-if="!user.name" href="#/login">Login</a></p>
                <p><a ng-if="!user.name" href="#/register">Sign up</a></p>
                <p><a ng-if="!user.name" href="#/trackorder">Track Order</a></p>
                <p><a ng-if="!user.name" href="#/fpassword">Forgot Password</a></p>
                <p><a ng-if="user.name" href="#/cpassword">Change Password</a></p>
                <p><a ng-if="user.name" href="#/logout">Logout</a></p>
               <div class="">
                <!-- Login  #################################################################################   -->
                <!--  <form method="post" ng-show="!isLoggedIn" ng-if="!(user.soreffriend || user.sofpassword ||user.soregister)">
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-8">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox"> Remember Me
                          </label>
                        </div>
                      </div>
                      
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Sign In</button>      
                      </div>
                    </div>
                  </form>-->
                  <!-- Register  #################################################################################   -->
                   <!--form method="post"  ng-if="user.soregister">
                    <div class=" has-feedback">
                      <input type="text" class="form-control"  ng-model="user.name" placeholder="Name">
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                     <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.repassword" placeholder="Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                     <div class=" has-feedback">
                      <input type="number" class="form-control"  ng-model="user.phonenumber" placeholder="Phone ">
                      <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
                    </div>
                    <div class="row">
                    
                      <div class="col-xs-4">
                        <button type="submit" ng-click="saveUser()" class="btn btn-warning  ">Sign In</button>      
                      </div>
                    </div>
                  </form -->
                   <!-- Password  #################################################################################   -->
                  <!--form method="post"  ng-if="user.sofpassword && !isLoggedIn">                    
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">                     
                  
                      <div class="col-xs-4">
                        <button type="submit" ng-click="forgotPassword()" class="btn btn-warning  ">Forgot Password</button>      
                      </div>
                    </div>
                  </form -->
                   <!-- ChangePassword  #################################################################################   -->
                  <!--form method="post" ng-if="user.sofpassword && isLoggedIn">                    
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password" placeholder="Old Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password1" placeholder="New Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div> 
                     <div class=" has-feedback">
                      <input type="password" class="form-control"  ng-model="user.password2" placeholder="Re Type New Password">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>                                       <div class="row">                     
                   
                      <div class="col-xs-4">
                        <button type="button" ng-click="changePassword()" class="btn btn-warning  ">Change Password</button>      
                      </div>
                    </div>
                  </form -->

                   <!--<form method="post"  ng-if="user.soreffriend">                    
                    <div class=" has-feedback">
                      <input type="email" class="form-control"  ng-model="user.email" placeholder="Email" >
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">                     
                      <div class="col-xs-4">
                        <button type="submit" ng-click="login()" class="btn btn-warning  ">Refer Your Friend</button>      
                      </div>
                    </div>
                  </form>-->

                </div>
                </p>
              </li>
              <!-- Menu Body -->
              <!--li class="user-body">
                <div class="row">
                 
                  <div class="col-xs-4 " ng-show="!isLoggedIn">
                    <a href="" ng-click="user.sofpassword=false;user.soregister=true;user.soreffriend=false">Register</a>
                  </div>
                  
                  <div class="col-xs-4 " ng-show="isLoggedIn">
                    <a href="" ng-click="user.sofpassword=true;user.soregister=false;user.soreffriend=false">Change Password</a>
                  </div>
                   <div class="col-xs-4 " ng-show="!isLoggedIn">
                    <a href="" ng-click="user.sofpassword=true;user.soregister=false;user.soreffriend=false">Forgot Password</a>
                  </div>
                
                </div>-->
              
              </li >
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left" ng-show="isLoggedIn">
                  <a href="#" class="btn btn-warning" >Sign out</a>
                </div>
                 
                <div class="pull-right">
                  <a  class="btn btn-warning " ng-click="user.iscolsed=false">Close</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        
          <li ng-if="user_role!='HAdmin'">
            <a href="" ng-click="showCart()"  data-toggle="control-sidebar">
            <i style="font-size:20pt" class="fa  fa-shopping-cart"></i>
            <span class="label label-danger" style="font-size: 9px">{{orderdetail.length}}</span>
            <div style="margin-top: -12px!important;margin-right: -21px!important;"><span  class="pull-right badge bg-aqua " style="font-size:9pt">${{orderdetail.total+orderdetail.tax}}</span></div>
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>