 <!-- Control Sidebar -->
 <div>{{enablecart}}</div>
  <aside class="control-sidebar control-sidebar-dark control-sidebasr-open">
    <!-- Create the tabs -->
    <!--<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa  fa-circle-o"> Order Info</i></a></li>
      
    </ul>-->
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab" style="display:block!important">
     <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa  fa-map-signs bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Ordered Branch</h4>

                <p>{{branch.branch_name}} </p>
              </div>
            </a>
          </li>        
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa  fa-car bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Order Type</h4>
                <p>{{orderType}}</p>
              </div>
            </a>
          </li>
        </ul>


       <table class="table tablebordered">
       <tr><th>Food</th><th>Qty</th><th>Price</th><th></td></tr>
        <tr class="" ng-repeat="order in orderdetail " ng-class="{'bg-red':order.isCustomized}">

              
                <td class=""> <b>{{order.food}} </b><img ng-src="/img/{{order.image}}" style="width:140px;height:90px"/>
                <br><br>
                  <span type="button" title="Duplicate Item" class="label label-warning fa fa-plus " ng-click="duplicateOrder(order)"> </span>
                 <span type="button" title="Remove Item" class="label label-warning fa fa-minus" ng-click="removeOrder(order)"> </span>                  
                   <div class="btn-group">
                          <span type="button" title="Customise Item"class="label label-warning fa fa-creative-commons dropdown-toggle" data-toggle="dropdown" ng-click="order.iscolsed=!order.iscolsed">
                               </span>                   
                          <div class="dd-menu dropdown-menu pull-right  bg-yellow" style="zoom: 76%;left:2px;width:306px"role="menu;" ng-style={'display':order.iscolsed?'block':'none'}  >                         
                            <div ng-repeat="(key ,value) in order.ingrediants" >
                            <vv-ratings label="key" ng-model="value" max="5" readonly="false"></vv-ratings>
                            </div>                           
                            <li><textarea placeholder="Special notes to Chef">{{order.comments}}</textarea></li>
                            <li>
                            <!--<button type="button" class="btn btn-success fa fa-undo " data-toggle="drotpdown"> Reset </button>-->
                            <button type="button" class="yellow-button btn btn-warning fa fa-edit " ng-click="order.iscolsed=!order.iscolsed" data-toggle="dropdown"> OK </button></li>
                          </div>
                        </div>
                </td>
                <td>{{order.qty}} </td>
                <td>${{order.price}}</td>
                <td>                                 
                 
                  
                </td>

        </tr>
          <tr><td>Tax</td><td></td><td>{{orderdetail.tax}}</td><td></td></tr>
		 
         <tr><td>Total</td><td></td><td>{{(orderdetail.total+orderdetail.tax)==orderdetail.tax?0:orderdetail.total+orderdetail.tax+orderdetail.tips}}</td><td></td></tr>
      </table>
      <div><button type="button" class="btn btn-warning  " ng-click="checkOut(orderdetail)" data-toggle="dropdown"> Place Order </button></li></div>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <div class="control-sidebar-bg"></div>