 <div ng-include="'header.html'"></div>
 <md-content style="height: 600px;" md-theme="altTheme">	
 <section class="md-padding">
     <form >
        <div >
          
		<div layout="row" layout-align="center center">
            Running Token
          </div>
        </div>
		<div class="md-display-4"><div layout="row" layout-align="center center">2</div></div>
		<div layout="row" layout-align="center center">
            Your Token
          </div>
        </div>
		<div class="md-display-4"><div layout="row" layout-align="center center">2</div></div>           
     
        <md-button class="md-raised md-primary">Get Token</md-button>
		<md-button class="md-raised md-primary">Cancel Token</md-button>
     

      </form>
   <section> </md-content>