
<body class="hold-transition login-page" >
<div class="login-box" >
 <div ng-include src="'header.html'"></div>
  
  <div class="login-box-body" >
  <div class="col-lg-12 col-xs-12" >
                  <div class=" " >
                  <div class="user-panel">
                  <div class="pull-left image">
                  <img ng-src="/img/{{company.company_logo}}" style="max-width: 240px;" class="img-circle" alt="User Image">          
                  </div>        
                  </div>
                 
                  </div>
              </div>   

    <form method="post"  >Track your Order:                
              <div class="input-group">
                <span class="input-group-addon"><i class="ion ion-ios-pricetag-outline"></i></span>
                <input type="text" class="form-control" ng-model="orderno" placeholder="Tracking Number">
              </div><br>
                     <div class="row">                   
                      <div class="col-xs-3">
                      <button type="submit" ng-click="saveUser()" class="btn btn-warning  ">Back</button>
                         
                      </div>
                      <div class="col-xs-3">

                        <button type="submit" ng-click="saveUser()" class="btn btn-warning  ">Track</button>      
                      </div>
                    </div>
                  </form>
   
  </div>
  <!-- /.login-box-body -->
</div>


